{% extends 'NewscoopNewscoopBundle::admin_layout.html.twig' %}

{% block admin_title %}Anouncements Plugin{% endblock %}
{% block admin_page_title_content %}Anouncements Plugin{% endblock %}

{% block admin_content %}
<div>
    Anouncements Plugin
</div>
{% endblock %}