.form-control {
    margin: 0px 0px 10px 0px;
}

.form-control input {
    margin-right: 10px;
}

#ads-table {
    padding: 10px;
    border: 1px solid #ccc;
}

#ads-table th {
    background: #D1D1D1;
}
#ads-table th a {
    color: #000;
}
.plugin-container {
    padding: 10px 10px 30px 10px;
    border: 1px solid #ccc;
    background-color: #FFF;
    font-size: 12px;
}

.plugin-placeholder {
    margin-top:	30px;
}

.actionbar {
    float: right;
}

.button-align {
    margin-right: 5px;
}

a.action-btn {margin-left: 5px; margin-bottom: 5px;}


.active {
    font-weight: bolder;
}

.selected img {
    opacity:0.5;
}

#slider-thumbs {
    margin-top: 20px;
}

.carousel-control {
    padding-top: 30%;
}

a.action-btn {
    width: 90%;
}

button.description-btn {
    width: 100%;
}

.classified-description {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
